DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Efi (Gerencianet) Credentials
EFI_CLIENT_ID=""
EFI_CLIENT_SECRET=""
EFI_PIX_KEY=""

# WhatsApp API
WHATSAPP_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""

# Google Analytics
NEXT_PUBLIC_GA_TRACKING_ID=""
